/* Mixins */

@mixin box($top, $left, $blur, $color) {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
}

.odd {
    background-color: #f4f3f3;
    border-bottom: 1px solid #d5d5d5;
    padding: 30px 0px;
}

.even {
    @extend .odd;
    background: #71a441 url(/img/halftone.png);
}

.hiring {
    position: relative;
    background: url(/img/office.jpg);
    min-height: 20em;
    background-size: cover;
    background-position: fixed;
    .overlay {
        background: rgba($primary-color, 0.8);
        height: 20em;
       max-width: 100%;
        h4 {
            margin: 0 auto;
            padding: 10%;
            color: #fff;
        }
    }
}

/**
*
* Office Hero Section
*
**/

.office {
    position: relative;
    display: block;
    max-width: 1900px;
    max-height: 600px;
    overflow: hidden;
    img {
        z-index: 1;
        height: 100%;
        padding: 0;
        margin-top: -20em;
        /* just in case, to force correct aspect ratio */
        height: auto !important;
        width: auto\9;
        /* ie8+9 */
        /* lt ie8 */
        -ms-interpolation-mode: bicubic;
        width: 100%;
        display: block;
        overflow: hidden;
    }
}

@media only screen and (max-width: 980px) {
    .office {
        position: relative;
        top: auto;
        left: auto;
    }
    .office img {
        margin-top: -50px;
        height: 100%;
    }
}

.home-panel {
    @include panel;
    position: absolute;
    width: 50em;
    top: -50em;
    left: -5em;
    background: rgba($primary-color, 0.6);
    margin: 0 auto;
    border: 0px;
    p {
        font-size: 1em;
        color: #fff;
        line-height: 1.9em;
        text-shadow: -5px 3px 10px rgba(#1c1e21, 0.8);
    }
}

.mobile-panel {
    @extend .home-panel;
}

.testi-frame img {
    display: block;
    margin: auto;
}

.blog-roll {
    @include box(0px, 5px, 0px, #b9b9b9);
    @extend .panel;
    overflow: hidden;
    li img {
        float: left;
        height: 75px;
        width: 75;
        margin: 0 25px 0 0;
    }
    .meta {
        overflow: hidden;
        margin: 0 0 10px;
    }
    .meta-desc {
        font-size: 0.9em;
        line-height: 1;
    }
}

.news-roll {
    @extend .blog-roll;
    ul {
        list-style-type: none;
    }
    ul li a {
        display: inline-block;
    }
    .news-date {
        float: left;
        margin: 0 8px 10px 0;
        width: 60px;
        height: 90px;
        background: $primary-color;
        text-align: center;
        padding: 5px 5px;
        p {
            color: #fff;
        }
        span {
            display: block;
            position: relative;
            font-size: 30px;
            &:after {
                position: absolute;
                content: '';
                width: 40px;
                height: 1px;
                background-color: #fff;
                left: 50%;
                bottom: 0;
                margin-left: -20px;
            }
        }
    }
}

.meta-data li {
    font-size: 11px;
    margin-left: 0px;
}

footer {
    background-color: #1b78ac;
    h4 {
        color: #eeeeee;
        text-transform: uppercase;
    }
    li {
        color: #eeeeee;
    }
}

.sub-footer {
    background-color: #12456b;
    padding: 20px;
    p {
        color: #ffffff;
        font-size: 0.9em;
    }
}

.product-panel {
    @include panel(lighten($primary-color, 20%), 15px 10px 5px);
    transition: all 0.3s ease-in;
    &:hover, &:focus {
        background-color: scale-color($primary-color, $lightness: 10%);
    }
    p {
        color: #fff;
    }
    h3 {
        color: #fff;
        text-transform: uppercase;
    }
}

i {
    display: inline-block !important;
    font-size: 20px;
}

/* Misc */
.icon-base {
    color: $primary-color;
}