/* Mixins */

@mixin box($top, $left, $blur, $color){
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
}

.odd {
    background-color: #f4f3f3;
    border-bottom: 1px solid #d5d5d5;
    padding: 15px 0px;
}

.even {
    @extend .odd;
    background-color: #fff;
}

.office {
    border-bottom: 1px solid #d5d5d5;
    img {
        width: 100%;
        height: auto;
    }
}

.full-width {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: initial;
}

.testi-frame img {
    display: block;
    margin: auto;
}

.blog-roll {
    @include box(0px, 10px, 0px, #b9b9b9);
    @extend .panel;
    overflow: hidden;
    li img {
        float: left;
        height: 75px;
        width: 75;
        margin: 0 25px 0 0;
    }
    .meta {
        overflow: hidden;
        margin: 0 0 10px;
    }
    .meta-desc {
        font-size: 0.9em;
        line-height: 1;
    }
}

ul.meta-social {
    font-size: 0.8em;
    li {
        display: inline-block;
        margin-bottom: 10px;
        padding: 2px;
        a {
            background: #dfdfdf;
            padding: 4px 10px 4px 5px;
            border-radius: 2px 2px 2px 2px;
        }
    }
}

.news-roll {
    @extend .blog-roll;
    ul {
        list-style-type: none;
    }
    ul li a {
        display: inline-block;
    }
}

footer{
  background-color: #1b78ac;
  h4{
    color: #eeeeee;
    text-transform: uppercase;
  }
  li{
    color: #eeeeee;
  }
}

.sub-footer{
  background-color: #12456b;
  p{
    color: #ffffff;
  }
}